!!!
html
  head
    title= 'Jeremy Hughes'
    meta(charset='utf-8')
    link(rel='stylesheet', href='/main.css')
    link(rel='stylesheet', href='/rainbow.css')
    script(defer, src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=true&lang=basic&lang=css&lang=clj&lang=hs&lang=yaml')
  body
    nav.main
      ul
        li
          a(href='/') jedahu.net
        li
          a(href='/log') log
    div.content
      block content
    nav.tags
      h1 all tags
      ul
        - each tag in tagList.sort()
          li
            a(href=tagUrl(tag)) #{tag}
    script
      var pres = document.getElementsByTagName('pre');
      var i;
      for (i = 0; i < pres.length; ++i) {
        pres[i].classList.add('prettyprint');
      }
