extends layout

block content
  article.post
    header
      h1
        a(href=post.url)
          = post.title
      h5.date #{post.date.toISOString().slice(0, 10)}
    div.content
      != post.content
    footer
      ul.tags
        - each tag in post.tags.sort()
          li
            a(href=tagUrl(tag))
              span.label.label-info #{tag}
